<%= form_for(@oa_pending_request, :url => oauth2_process_authorization_path(:id => @oa_pending_request.id), :method => :post) do |request_form|-%>
  <section>
    <header><h1>Connect with Yammer</h1></header>
    <div>
      <p></p>
      <div>
      <% unless @oa_pending_request.scope_values.empty? %>
        <ul>
          <% @oa_pending_request.scope_values.each do |scope| %>
            <li><%= scope %></li>
          <% end %>
        </ul>
      <% end %>
      </div>
      <div> 
        <%= submit_tag :allow %>
        <%= submit_tag :deny %>
      </div>
      <p> 
    </div>
  </div>
<% end -%>