<%= form_for(@oa_pending_request, :url => oauth2_approval_path(:rs => @request_signature), :method => :post) do |request_form|-%>
  <section>
    <header><h1>Example app</h1></header>
    <div> The application "Example Client" would like to access your profile. Would you like to give "Example Client" access?
    <%= submit_tag :allow, :name => 'decision' %>
    <%= submit_tag :deny, :name => 'decision' %>
  </section>
<% end -%>