<div class="container offset2 span8">
<%= form_for(@client_application, :html => {:class => "form-vertical"}) do |form|-%>
  <%= render :partial => 'registration_form', :locals => {:f => form} %>
<% end -%>
</div>